/* Lato Light:300 from google fornt */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* variables */
:root{
    --primary-color: #4e8d7c;
}

/* resetting the default styles *is the universal selector */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #333333;
    line-height:1.6;
}

ul{
    list-style-type:none;
}
a{
     text-decoration:none;
     color:#333333;
 }

 h1,h2{
     font-weight: 300;
     line-height:1.2;
     margin: 10px 0;
 }

 p{
     margin: 10px 0;
 }

 img{
     width: 100%;
  }

  /* navbar styling */
  .navbar{
      background-color: var(--primary-color);
      color: #ffffff;
      height: 70px;
  }

  .navbar ul{
      /* menu will get aline in horizontal */
      display: flex;
  }

  .navbar a{
      color: #ffffff;
      padding: 10px;
      margin: 0 5px;
  }

  .navbar a:hover{
      border-bottom: 2px solid #fff;
  }

  .navbar .flex{
    justify-content: space-between;
  }

  /* showcase */
  .showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
  }

  .showcase h1{
      font-size: 40px;
  }

  .showcase p{
    margin: 20px 0;
  }

  .showcase .grid{
      grid-template-columns: 55% 45%;
      gap: 30px;
  }
  /* utilities styling */
  .container{
      max-width: 1100px;
      margin: 0 auto;
      /* to fix the space between logo and the container which is blue at the top */
      overflow: auto;
      padding: 0 40px;

  }

  /* adding flexbox to put the elements of menu in line */

  .flex{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  /* use of grid */
  .grid{
    display: grid;
    /* how wide we want each column can be define as following */
    grid-template-columns: 300px 200px;
    /* division of column */
    grid-template-columns: repeat(2, 1fr);
    /* space between column */
    gap:20px;
    justify-content:center;
    align-items: center;
    height:100%;
  }
